<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Template.css">
    <script src="../js/Template.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar_logo">
                <img src="../images/logo.svg" alt="navbar_logo">
            </div>
            <ul class="navbar_menu">
                <li class="navbar_menu_item"><a href="#">특수경매</a></li>
                <div class="navbar_menu_detail">
                    <ul>
                        <li><a href="#">실시간</a></li>
                        <li><a href="#">블라인드</a></li>
                    </ul>
                </div>
                <li class="navbar_menu_item"><a href="#">일반경매</a></li>
                <div class="navbar_menu_detail" style="display: none; height: auto; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                    <ul>
                        <li><a href="#">전체보기</a></li>
                        <li>카테고리</li>
                        <div class="navbar_menu_detail_category">
                            <ul>
                                <li><a href="#">의류/잡화</a></li>
                                <li><a href="#">취미/수집</a></li>
                                <li><a href="#">도서</a></li>
                                <li><a href="#">예술품</a></li>
                                <li><a href="#">전자제품</a></li>
                                <li><a href="#">사진</a></li>
                                <li><a href="#">골동품</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
                <li class="navbar_menu_item"><a href="#">물품등록</a></li>
                <li class="navbar_menu_item"><a href="#">마이페이지</a></li>
                <div class="navbar_menu_detail">
                    <ul>
                        <li><a href="#">구매내역</a></li>
                        <li><a href="#">판매내역</a></li>
                        <li><a href="#">알림내역</a></li>
                        <li><a href="#">페이충전</a></li>
                        <li><a href="#">회원정보수정</a></li>
                    </ul>
                </div>
            </ul>
            <div class="navbar_searchbar">
                <input type="text">
            </div>
            <ul class="navbar_member">
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>
            <div class="navbar_alarm">
                <img src="../images/alarm.svg" alt="alarm">
            </div>
        </nav>
    </header>
    <main id="wrapper">

    </main>
    <footer>
        <div class="footer_contents">
            <div class="footer_contents_body">
                <div class="footer_contents_body_logo">
                    <img id="footer_logo" src="../images/logo_white.svg" alt="footer_logo">
                </div>
                <div class="footer_contents_body_content">
                    <div class="footer_contents_body_content_menu">
                        <P>회사소개</P>
                        <div class="contour"></div>
                        <P>이용약관</P>
                        <div class="contour"></div>
                        <P>개인정보취급방침</P>
                        <div class="contour"></div>
                        <P>이메일무단수집거부</P>
                        <div class="contour"></div>
                        <P>고객센터</P>
                    </div>
                    <div class="footer_contents_body_content_detail">
                        <p>상호명: 원티드</p>
                        <div class="contour"></div>
                        <p>주소: 서울특별시 강남구 819 3 삼오빌딩 5-8층</p>
                        <p>Tel: 010-1234-5678</p>
                        <div class="contour"></div>
                        <p>E-mail: bitcamp502@bitcamp.com</p>
                    </div>
                    <div class="footer_contents_body_content_member">
                        <p>Lee Jusung</p>
                        <div class="contour"></div>
                    </div>
                </div>
            </div>
            <div class="footer_contents_bttm">
                <p>&copy 2024. WANTED All picture cannot be copied without permission.</p>
            </div>
        </div>
        <div class="footer_contour"></div>
        <div class="footer_icons">
            <a href="#"><img src="../images/instagram_icon.svg" alt="instagram"></a> 
            <a href="#"><img id="facebook_icon" src="../images/facebook_icon.svg" alt="facebook"></a>
            <a href="#"><img src="../images/tiwtter_icon.svg" alt="twitter"></a>
            <a href="#"><img src="../images/pinterest_icon.svg" alt="pinterest"></a>
        </div>
    </footer>
</body>
</html>